.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background-color: $key-color;
  border-radius: 5px;
  margin-right: 6.6px;

  &__backspace {
    width: 98px;

    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      stroke: white;
      background-image: url('@/images/backspace.svg');
      filter: invert(94%) sepia(6%) saturate(155%) hue-rotate(210deg) brightness(88%) contrast(90%);
    }
  }

  &__tab {
    width: 98px;
  }

  &__capslock {
    width: 110px;
  }

  &__enter {
    width: 122px;
  }

  &__shift-left {
    width: 76px;
  }

  &__shift-right {
    width: 155px;
  }

  &__alt {
    width: 80px;
  }

  &__space {
    width: 417px;
  }

  &__arrow-bottom {
    height: 30px;
    margin-top: 34px;
  }

  &__arrow-up {
    height: 30px;
  }

  &__arrow-down {
    height: 30px;
    margin-top: 34px;
    margin-left: -71px;
  }
}